.chargeCard {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #1e1e2d;
  border-radius: 50%;
}

.chargeRating {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.chargeBlock {
  position: absolute;
  width: 2px;
  height: 15px;
  background: transparent;
  left: 50%;
  transform-origin: 50% 100px;
  opacity: 0;
  animation: animate 0.1s linear forwards;
}

@keyframes animate {
  to {
    opacity: 1;
  }
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.chargeBlock .active {
  background: #0f0;
  box-shadow: 0 0 15px #0f0, 0 0 30px #0f0;
}

.chargeRating h2 {
  color: #ec671d;
  position: absolute;
  top: 62%;
  left: 53%;
  height: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  line-height: 1.5em;
}

.chargeRating h2 span {
  font-size: 2.5em;
  font-weight: 700;
}

.chargeRating h2 sup {
  font-size: 1.5em;
  font-weight: 300;
}
