#main-menu {
    max-height: 80vh !important;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

#main-menu::-webkit-scrollbar {
    width: 0.85em;
}

#main-menu::-webkit-scrollbar-thumb {
    background-color: transparent;
}

#main-menu:hover::-webkit-scrollbar-thumb {
    background-color: rgba(82, 82, 82, 0.8);
}