[Unit]
Description=Update Service

[Service]
Type=idle
ExecStart=/usr/bin/python3 /root/update.py
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=60s
User=root

[Install]
WantedBy=multi-user.target